[build]
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/uploads/*"
  to = "/api/uploads/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

